[backends]{{range .Instances}}
    [backends.backend-{{ .Backend }}.servers.server-{{ .Name }}{{ .ID }}]
    url = "{{ .Protocol }}://{{ .Host }}:{{ .Port }}"
    weight = {{ .Weight }}

{{end}}

[frontends]{{range filterFrontends .Instances}}
  [frontends.frontend-{{ .Backend }}]
  backend = "backend-{{ .Backend }}"
  passHostHeader = {{ .PassHostHeader }}
  priority = {{ .Priority }}
  entryPoints = [{{range  .EntryPoints }}
    "{{.}}",
  {{end}}]
    [frontends.frontend-{{ .Backend }}.routes.route-frontend-{{ .Backend }}]
    rule = "{{getFrontendRule .}}"
{{end}}
